* {
    box-sizing: border-box;
}

html, body {
    background-color: #BFBAA8;
    width: 100%;
    height: 100%;
    font-family: 'VT323', monospace;
}

main {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 600px 1fr;
    grid-template-columns: 1fr 340px 1fr;
    grid-template-areas: "header    header          header"
                         "left      calcContainer    right" 
                         "footer    footer          footer"  ;
}

#calcContainer {
    grid-area: calcContainer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #F1F2F0;
    box-shadow: 0  4px rgba(64, 50, 42, 0.1);
    border: 2px solid rgba(64, 50, 42, 0.2);
}

#logoContainer {
    margin: 30px 20px 10px;
}

#screenContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    height: 100px;
    align-self: center;
    margin-top: 10px;
    border: 12px solid #BFBAA8;
    background-color: rgba(128, 166, 133, 0.3);
    border-radius: 10px;
    box-shadow: 0 -3px rgba(64, 50, 42, 0.4);
    color: #80A685;
    text-align: right;
    font-size: large;
}

#result {
    font-size: x-large;
}


#buttonsContainer {
    display: grid;
    align-self: center;  
    width: 300px;
    height: 320px;
    margin: 30px;
    padding: 4px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    justify-content: center;
}


button {
    background-color: #BFBAA8;
    font-weight: bolder;
    color: rgba(64, 50, 42, 0.5);
    border: 0px;
    margin: 2px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0  2px rgba(64, 50, 42, 0.3);
    align-self: center;
    justify-self: center;
    border: 10px solid rgba(64, 50, 42, 0.05);
}

#equals {
    background-color: #F25A38;
    color: #F1F2F0;
}

.operators {
    background-color: #40322A;
    color: #BFBAA8;
}

#result {
    height: 26px;
    width: 100%;
}

#display {
    width: 100%;
}


